<div style="height: 64px; background-color: darkgrey;">
    <a (click)="toggleSidenav()" mat-list-item  style="height: 64px; margin-top: - 8px;">
        <mat-icon>close</mat-icon>
    </a>
</div>
<!-- Elementos del menu -->
<a href="#" (click)="toggleSidenav()" mat-list-item>
    <mat-icon>notifications</mat-icon>
    Notifications
</a>
<a href="#" (click)="toggleSidenav()" mat-list-item>
    <mat-icon>message</mat-icon>
    Messages
</a>
<a href="#" (click)="toggleSidenav()" mat-list-item>
    <mat-icon>account_box</mat-icon>
    My Account
</a>
<a href="#" (click)="toggleSidenav()" mat-list-item>
    <mat-icon>lock</mat-icon>
    My Account
</a>
<a href="#" (click)="toggleSidenav()" mat-list-item>
    <mat-icon>message</mat-icon>
    Messages
</a>
<a href="#" (click)="toggleSidenav()" mat-list-item>
    <mat-icon>message</mat-icon>
    Messages
</a>
<br>
<p>Mi cuenta ---</p>
<a href="/panel/user" (click)="toggleSidenav()" mat-list-item>
    <mat-icon>account_box</mat-icon>
    Usuarios
</a>
<a href="/panel/user/1" (click)="toggleSidenav()" mat-list-item>
    <mat-icon>account_box</mat-icon>
    Detalle de usuario
</a>
<a href="#" (click)="toggleSidenav(); sidenavLogout()" mat-list-item>
    <mat-icon>close</mat-icon>
    Logout
</a>

<!-- Elementos del menu -->