<div class="dsc-navigation">
    <img src="./assets/angular13.jpg" alt="" height="60">
    <div>
        <button class="btn btn-primary">Usuarios</button>
    </div>
</div>


<!-- Navegador Angular -->
<mat-sidenav-container>

  <mat-sidenav #sidenavNO role="navigation">
    <!--this is a place for us to add side-nav code-->
  </mat-sidenav>
  <mat-sidenav-content>
    <!--in here all the content must reside. We will add a navigation header as well-->
    <!-- Navegador Angular - Header -- Debe ser un componente aparte -->


    <!-- Navegador Angular - Header - Debe ser un componente aparte -->
    <!-- <main>
      <router-outlet></router-outlet>
    </main> -->
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- Navegador Angular -->
