

// .mat-toolbar.mat-primary {
//   background: #303030;
//   color: #fff;
// }

.header-menu {
  align-items: center;
}

.header-spacer {
  flex: 1 1 auto;
}

.app-content{
  min-height: 100px !important; /*calc(100vh - 80px - 60px);*/
  padding: 15px;
}

.mat-list-base {
  padding-top: 0px;
}

.mat-drawer {
   padding-right: 0px;
  
}

.mat-drawer-inner-container {
   //width: 60%;

   padding-right: 20px !important;
  
}

.aaa-div-nav-list-wrapper {

  padding-right: 20px !important;
 
}

.mat-nav-list {
  width: calc(100% + 20px); // 100%;
  padding-right: 0px;
}

.mat-list-item-content {
  padding-right: 0px;
}
  

/*.mat-sidenav-container{
  height: calc(100vh - 80px - 60px) !important; //100px;
  min-height: calc(100vh - 80px - 60px) !important; //100px
} */